.colorBox .series_body,.colorBox .series_body .h1,.colorBox .about_money,.about_cen{
	color: #c7aa78;
}
.colorBox .about_button{
	color: #fff;
}
.colorBox .about_button .want_decorate{
	background: #c7aa78;
} 
.colorBox .series_body p{
	color: #c7aa78;
}
.colorBox .series_body i{
	color: #c7aa78;
}